<ion-card-content>
  <ion-grid>
    <ion-row>
      <ion-col><strong>Name</strong></ion-col>
      <ion-col><strong>Date</strong></ion-col>
      <ion-col><strong>🍗</strong></ion-col>
      <ion-col><strong>🥔</strong></ion-col>
    </ion-row>

    @for (row of rows; track row.name) {
      <ion-row class="divider-row">
        <ion-col>{{row.name}}</ion-col>
        <ion-col>{{row.date}}</ion-col>
        <ion-col>{{row.countMedalien}}</ion-col>
        <ion-col>{{row.countPotatos}}</ion-col>
      </ion-row>
    }

  </ion-grid>
</ion-card-content>


