<ng-container *ngIf="!success">
  <app-task-box
    [title]="'Sensor Task'"
    [description]="'Drehe dein Gerät auf den Kopf.'"
    [time]="formattedTime"
    [skipRoute]="'/charger'"
    (skip)="onSkip()"

  ></app-task-box>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center ion-margin-top">
        <ion-icon name="sync-outline" class="rotate-icon" size="large"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>

<app-success-screen *ngIf="success" [nextRoute]="'/charger'"></app-success-screen>
