<ng-container *ngIf="!success">
  <app-task-box
    [title]="'Sensor Task'"
    [description]="'Turn your device upside down.'"
    [time]="formattedTime"
    [skipRoute]="'/charger'"
    (skip)="onSkip()"

  ></app-task-box>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center ion-margin-top">
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="sensorBox">
    <ion-icon name="sync-outline"></ion-icon>
  </div>
</ng-container>

<app-success-screen *ngIf="success" [nextRoute]="'/charger'"></app-success-screen>
