ion-icon.rotate-icon {
  display: block;
  font-size: 64px;
  margin: 24px auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sensorBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (prefers-color-scheme: light) {
  .sensorBox ion-icon {
    font-size: 150px;
    color: black;
  }
}

@media (prefers-color-scheme: dark) {
  .sensorBox ion-icon {
    font-size: 150px;
    color: white;
  }
}
