<ng-container *ngIf="!success">
  <app-task-box
    [title]="'QR Code Task'"
    [description]="'Scan the correct QR code to continue.'"
    [time]="formattedTime"
    [skipRoute]="'/sensor'"
    (skip)="onSkip()"

  ></app-task-box>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center ion-margin-top">
        <ion-icon class="qrBox" name="qr-code-outline" size="large"></ion-icon>
      </ion-col>
      <ion-col size="12" class="ion-margin-top">
        <ion-button expand="block" color="primary" (click)="scanBarcode()">
          Scan QR Code
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>

<app-success-screen *ngIf="success" [nextRoute]="'/sensor'"></app-success-screen>
