<ng-container *ngIf="!success">
  <app-task-box
    [title]="'QR Code Task'"
    [description]="'Scanne den richtigen QR Code, um fortzufahren.'"
    [time]="formattedTime"
    [skipRoute]="'/sensor'"
    (skip)="onSkip()"

  ></app-task-box>
  <ion-button
    expand="block"
    fill="solid"
    color="primary"
    class="ion-margin-top"
    (click)="scanBarcode()"
  >
    <ion-icon name="qr-code-outline" slot="start"></ion-icon>
    Scan QR Code
  </ion-button>
</ng-container>

<app-success-screen *ngIf="success" [nextRoute]="'/sensor'"></app-success-screen>
