# System
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Build output
www/
dist/
build/
out-tsc/
.tmp/
.tmp
*.tmp
*.tmp.*
.sourcemaps/

# Node
node_modules/

# Capacitor native platforms
android/
ios/

# Angular / Ionic cache
.angular/
.ionic/
coverage/
bazel-out/

# Environment files (falls du mit .env arbeitest)
.env
.env.*.local

# IDEs & Editor configs
.idea/
.vscode/
.history/

# macOS Trash
$RECYCLE.BIN/

# Test & temp
connect.lock
testem.log
libpeerconnection.log
