.footer-icon-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg {
    width: 32px;
    height: 32px;
  }

  span {
    font-size: 12px;
    margin-top: 4px;
  }

  svg, span {
    color: #222;
    fill: #222;
  }
}

// Dark Mode: helle Icons/Text
@media (prefers-color-scheme: dark) {
  .footer-icon-button {
    svg, span {
      color: #fff;
      fill: #fff;
    }
  }
}

ion-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: transparent;
}

ion-button {
  --background: transparent;
  box-shadow: none;
}

.header-title{
  display: flex;
  justify-content: center;
  align-items: center;
}
