<ion-header>
  <ion-toolbar>
    <ion-title>Location Permission</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="permission-content">
  <div class="permission-wrapper">
    <p class="permission-text">
      Diese App benötigt Zugriff auf deinen Standort.<br />
      Möchtest du das erlauben?
    </p>

    <ion-button expand="block" class="permission-button" (click)="requestGeolocationPermission()">
      Zugriff erlauben
    </ion-button>

    <ion-button expand="block" fill="outline" class="permission-button" routerLink="/home">
      Abbrechen
    </ion-button>
  </div>
</ion-content>
