<ion-header>
  <ion-toolbar>
    <br>
    <br>
    <br>
    <ion-title class="geolocation-permission-title">Location Permission</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="permission-content">
  <div class="permission-wrapper">
    <p class="permission-text">
      This app requires access to your location.<br />
      Would you like to allow it?
    </p>

    <ion-button expand="block" class="permission-button" (click)="requestGeolocationPermission()">
      Allow access
    </ion-button>

    <ion-button expand="block" fill="outline" class="permission-button" routerLink="/home">
      Cancel
    </ion-button>
  </div>
</ion-content>
