<ion-content class="permission-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Camera Permission</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="permission-wrapper">
    <p class="permission-text">
      Diese App benötigt Zugriff auf deine Kamera.
      Möchtest du das erlauben?
    </p>

    <ion-button expand="block" class="permission-button" (click)="requestCameraPermission()">
      Zugriff erlauben
    </ion-button>

    <ion-button expand="block" fill="outline" class="permission-button" routerLink="/home">
      Abbrechen
    </ion-button>
  </div>
</ion-content>
