.battery-charging-outline{
  color: white;
  font-size: 150px;
  display: flex;
}

.batteryBox{
  align-items: center;
  display: flex;
  padding-left : 30%;
  padding-bottom: 70%;
}

.chargerTaskInstuctions{
  margin-bottom: 50px;
}
