.success-wrapper {
  text-align: center;
  margin-top: 3rem;
}

.success-wrapper h2{
  margin-top: 15%;
}

.success-text {
  color: green;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-icon-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    font-size: 12px;
    margin-top: 4px;
    color: white;
  }

  svg {
    width: 32px;
    height: 32px;
    fill: white;
  }
}

ion-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: transparent;
}

ion-button {
  --background: transparent;
  box-shadow: none;
}
